<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  -->
  <!--Dispatcher Custom 
  <link type="text/css" rel="stylesheet" href="/css/dispatcher.css"  media="screen,projection"/>
  -->
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% if title %}
  <title>{{ title }} - Web Util</title>
  {% else %}
  <title>Web Util</title>
  {% endif %}
    
</head>
<body>
  <header>
        <nav class="nav-extended">
            <div class="nav-wrapper teal">
              <!--<a href="#" class="brand-logo" style="margin-left:15px">Dispatcher</a>-->
              <!--
              <div class="brand-logo" style="margin-left:15px">Web Util</div>
              {% if hide_mobile %}
              {% else %}
              <a href="#" data-activates="nav-mobile" class="button-collapse" style="color: #004d40"><i class="white-text material-icons">menu</i></a>
              {% endif %}
              {% block nav_main %}{% endblock %}   
            </div>
            
            {% block nav_extension %}{% endblock %}   
            -->
        </nav>
    </header>
    
    <main>
      {% block content %}{% endblock %}   
    </main>
    

  
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <!--<script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/dispatcher.js"></script>-->
  {% block script_extension %}{% endblock %}
</body>
</html>